$global-pad: 20px;
$break-xl: 1024px;
$header-desktop-height: 100px;
$header-mobile-height: 60px;
$imgWrapHeight: 300px;
$choice-margin: 40px;
$choice-button-margin: 10px;
$choice-button-pad: 20px;
$footer-desktop-height: 100px;
$footer-mobile-height: 60px;
$desktop-font-large: 36px;
$desktop-font-main: 20px;
$mobile-font-large: 24px;
$mobile-font-main: 16px;
$clr-darkest: #28333c;
$clr-dark: #394651;
$clr-highlight1: #d1e163;
$clr-highlight2: #b2c1cf;

/*** Utilities ***/

.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*** Global ***/

body {
  background: url(/images/paper-bg.jpg) repeat;
  font-family: 'Droid Serif', serif;
}
button {
  font-family: 'Droid Serif', serif;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

a {
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
/*** Common ***/

.wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
  @media (min-width: $break-xl) {
    width: $break-xl;
  }
}

/*** Header ***/

header {
  height: $header-mobile-height;
  line-height: $header-mobile-height;
  background: $clr-darkest;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  section {
    position: absolute;
    top: 0;
  }
  h1 {
    float: left;
    margin-right: 10px;
  }
  @media (min-width: $break-xl) {
    height: $header-desktop-height;
    line-height: $header-desktop-height;
  }
}
.headerLeft {
  left: 0;
  padding-left: $global-pad;
  a {
    color: $clr-highlight1;
    text-decoration: none;
    font-weight: 700;

  }
  a:hover {
    color: $clr-highlight2;
  }

  @media (min-width: $break-xl) {
    padding-left: 0;
  }
}
.headerRight {
  right: 0;
  padding-right: $global-pad;
  @media (min-width: $break-xl) {
    padding-right: 0;
  }
}
.title {
  font-size: $mobile-font-large;
  font-weight: 700;

  @media (min-width: $break-xl) {
    font-size: $desktop-font-large;
  }
}
.subtitle {
  font-size: $desktop-font-main;
  font-style: italic;
  font-weight: 400;
  display: none;
  @media (min-width: $break-xl) {
    display: inline;
  }
}
.info {
  font-size: $mobile-font-main;
  font-weight: 700;

  .pageName {
    -webkit-transition: color 0.6s;
    transition: color 0.6s;
  }

  @media (min-width: $break-xl) {
    font-size: $desktop-font-main;
  }
}
.info:hover {
  cursor: pointer;

  .pageName {
    color: $clr-highlight2;
  }
}

.arrow {
  color: $clr-highlight1;
}

/*** Details Pane ***/

.detailOverlay {
  background: $clr-darkest;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  z-index: 75;
}

.details {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: 100;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  section {
    height: 100%;
    overflow-y: auto;
    left: 0;
    right: 0;
    padding: 20px;
    background: url(/images/paper-bg.jpg) repeat;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    @media (min-width: $break-xl) {
      width: $break-xl;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.detailContent {
  margin-top: 0;
  margin-bottom: (2 * $footer-mobile-height) + $global-pad;
  line-height: 25px;

  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
    margin: 15px 0;
  }
  p {
    margin: 10px 0;
    font-size: 16px;
  }
  a {
    color: $clr-dark;
    font-weight: 700;
  }
  a:hover {
    color: $clr-highlight2;
  }
  @media (min-width: $break-xl) {
    margin-top: $header-desktop-height;
    margin-bottom: $footer-desktop-height + $global-pad;
  }
}
.details.showDetails {
  right: 0;
}
/*** Picture Grid ***/

.choice {
  margin-bottom: $choice-margin;
  button {
    width: 100%;
    color: #fff;
    background: $clr-darkest;
    padding: $choice-button-pad;
    margin-top: $choice-button-margin;
    font-size: $mobile-font-main;
    font-weight: 700;
    outline: none;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    border: none;
    @media (min-width: $break-xl) {
      font-size: $desktop-font-main;
    }
  }
  button:hover {
    cursor: pointer;
    background: $clr-highlight1;
    color: $clr-darkest;
  }
  img {
    width: 100%;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    @media (min-width: $break-xl) {
      display: none;
    }
  }
  &:first-child {
    padding-top: $choice-margin;
  }
  @media (min-width: $break-xl) {
    float: left;
    width: (1/3 * 100%);
    padding-right: $global-pad;
    &:first-child {
      padding-top: 0;
    }
    &:nth-child(2n) {
      padding-left: 0;
      padding-right: ($global-pad / 2);
    }
    &:nth-child(3n) {
      padding-left: ($global-pad / 2);
      padding-right: 0;
    }
  }
}
.imgWrap {
  position: relative;
  background: center;
  background-size: cover;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
  @media (min-width: $break-xl) {
    display: block;
    height: $imgWrapHeight;
  }
}
#choice1 .imgWrap {
  background-image: url('/images/mammalia.jpg');
}
#choice2 .imgWrap {
  background-image: url('/images/aves.jpg');
}
#choice3 .imgWrap {
  background-image: url('/images/squamata.jpg');
}
.choiceArea {
  margin-top: $header-mobile-height;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $footer-mobile-height + $choice-margin;
  width: 60%;
  position: relative;
  @media (min-width: $break-xl) {
    width: $break-xl;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-left: -($break-xl / 2);
    margin-top: -($imgWrapHeight + $choice-button-margin + $desktop-font-main + ($choice-button-pad * 2)) / 2;
  }
}
.ajaxOverlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  position: absolute;
  background: #000 url("/images/loader.gif") no-repeat center;
  z-index: 50;
}
/*** Background Image ***/

.botanical {
  div {
    position: fixed;
    top: 50%;
    margin-top: -300px;
    width: 20%;
    background-repeat: no-repeat;
    height: 600px;
  }
}
.bLeft {
  left: 0;
  background: url('/images/flower-left.png');
  background-position: right;
}
.bRight {
  right: 0;
  background: url('/images/flower-right.png');
  background-position: left;
}
/*** Footer ***/

.gameStatus {
  background: $clr-dark;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-mobile-height;
  line-height: $footer-mobile-height;
  font-style: italic;
  font-size: $mobile-font-main;
  z-index: 150;

  &.activeButton {
    background: $clr-highlight1;
    color: $clr-darkest;
    -webkit-transition: background-color 1.25s;
    transition: background-color 1.25s;
  }

  &.activeButton:hover {
    cursor: pointer;
    background: $clr-highlight2;
  }

  .wrapper {
    padding: 0 $global-pad;
  }
  @media (min-width: $break-xl) {
    font-size: $desktop-font-main;
    height: $footer-desktop-height;
    line-height: $footer-desktop-height;
    .wrapper {
      padding: 0;
    }
  }
}