/*** Utilities ***/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*** Global ***/
body {
  background: url(/images/paper-bg.jpg) repeat;
  color: #28333c;
  font-family: 'Droid Serif', serif; }

button {
  font-family: 'Droid Serif', serif; }

/*** Common ***/
.wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative; }
  @media (min-width: 1200px) {
    .wrapper {
      width: 1200px; } }

/*** Header ***/
header {
  height: 100px;
  background: #28333c;
  color: #fff;
  position: fixed;
  top: 0;
  line-height: 100px;
  z-index: 150;
  border-bottom: 3px solid #28333c;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5); }
  header section {
    position: absolute;
    top: 0; }
  header h1 {
    float: left;
    margin-right: 10px; }

.headerLeft {
  left: 0;
  padding-left: 20px; }
  @media (min-width: 1200px) {
    .headerLeft {
      padding-left: 0; } }

.headerRight {
  right: 0;
  padding-right: 20px; }
  @media (min-width: 1200px) {
    .headerRight {
      padding-right: 0; } }

.title {
  font-size: 24px;
  font-weight: 700;
  color: #d1e163; }
  @media (min-width: 1200px) {
    .title {
      font-size: 36px; } }

.subtitle {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  display: none; }
  @media (min-width: 1200px) {
    .subtitle {
      display: inline; } }

.info {
  font-size: 16px;
  font-weight: 700; }
  @media (min-width: 1200px) {
    .info {
      font-size: 20px; } }

.info:hover {
  cursor: pointer; }

.arrow {
  color: #d1e163; }

/*** Details Pane ***/
.details {
  background: green;
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: 50;
  transition: 0.5s all; }

.detailContent {
  height: 100%;
  overflow-y: auto;
  left: 0;
  right: 0;
  padding: 20px;
  background: pink; }
  @media (min-width: 1200px) {
    .detailContent {
      width: 1200px;
      margin-left: auto;
      margin-right: auto; } }
  .detailContent p {
    margin: 10px 0; }
  .detailContent .first {
    margin-top: 0; }
    @media (min-width: 1200px) {
      .detailContent .first {
        margin-top: 100px; } }
  .detailContent .last {
    margin-bottom: 220px; }
    @media (min-width: 1200px) {
      .detailContent .last {
        margin-bottom: 120px; } }

body.showDetails {
  overflow: hidden; }

.details.showDetails {
  right: 0; }

/*** Picture Grid ***/
.choice {
  margin-bottom: 40px; }
  .choice button {
    width: 100%;
    color: #fff;
    background: #28333c;
    padding: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    border: none; }
    @media (min-width: 1200px) {
      .choice button {
        font-size: 20px; } }
  .choice button:hover {
    cursor: pointer; }
  .choice img {
    width: 100%;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5); }
  .choice:first-child {
    padding-top: 40px; }
  @media (min-width: 1200px) {
    .choice {
      float: left;
      width: 33.33333%;
      padding-right: 20px; }
      .choice img {
        display: none; }
      .choice:first-child {
        padding-top: 0; }
      .choice:nth-child(2n) {
        padding-left: 0;
        padding-right: 10px; }
      .choice:nth-child(3n) {
        padding-left: 10px;
        padding-right: 0; } }

.imgWrap {
  display: none;
  background: center;
  background-size: cover;
  height: 350px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5); }
  @media (min-width: 1200px) {
    .imgWrap {
      display: block; } }

#choice1 .imgWrap {
  background-image: url("/images/placeholder-1.jpg"); }

#choice2 .imgWrap {
  background-image: url("/images/placeholder-2.jpg"); }

#choice3 .imgWrap {
  background-image: url("/images/placeholder-3.jpg"); }

.choiceArea {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  position: relative;
  margin-bottom: 140px; }
  @media (min-width: 1200px) {
    .choiceArea {
      width: 1200px;
      margin: 0;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -600px;
      margin-top: -210px; } }

/*** Background Image ***/
.botanical div {
  position: fixed;
  top: 50%;
  margin-top: -300px;
  width: 20%;
  background-repeat: no-repeat;
  height: 600px; }

.bLeft {
  left: 0;
  background: url("/images/flower-left.png");
  background-position: right; }

.bRight {
  right: 0;
  background: url("/images/flower-right.png");
  background-position: left; }

/*** Footer ***/
.gameStatus {
  background: #394651;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-style: italic;
  font-size: 16px;
  z-index: 100; }
  .gameStatus .wrapper {
    padding: 0 20px; }
  @media (min-width: 1200px) {
    .gameStatus {
      font-size: 20px; }
      .gameStatus .wrapper {
        padding: 0; } }

/*# sourceMappingURL=styles.css.map */
